# Python
__pycache__/
*.pyc
venv/
*.env
.gitignore

# Vectorstore & Processed Data
vectorstore/
data/processed_data.parquet
data/processed_data.csv

# IDE specific
.vscode/
.idea/

ab.txt

data/cache/
data/documents/
data/outputs/